!cursor
xcursor*theme:  Bluecurve

!font rendering settings
Xft*antialias:          1
Xft*hinting:            1
Xft*autohint:           0
Xft*hintstyle:          hintfull
Xft*dpi:                96
Xft*rgba:               rgb

!xterm settings
xterm*termName:         xterm-256color
xterm*dynamicColors:    true
xterm*utf8:             2
xterm*faceName:         Ubuntu Mono derivative Powerline:size=9

!URxvt settings
URxvt*termName:         rxvt-unicode-256color
URxvt.depth:            32
URxvt*loginShell:       true
URxvt*iconFile:         /usr/share/icons/Numix-Circle/48x48/apps/final-term.svg
URxvt.saveLines:        9999

URxvt.geometry:         90x55+815+30
URxvt*internalBorder:   0
URxvt*externalBorder:   0
URxvt*borderLess:       false
URxvt.borderColor:      00
URxvt*scrollBar:        false

URxvt.letterSpace:      -2

!TrueType fonts
URxvt*font:             xft:DejaVu Sans Mono for Powerline-8,xft:Terminess Powerline:pixelsize=9
URxvt*boldFont:         xft:DejaVu Sans Mono for Powerline-8:bold,xft:Terminess Powerline:bold:pixelsize=9
URxvt*italicFont:       xft:DejaVu Sans Mono for Powerline-8:italic
!URxvt*font:             xft:Droid Sans Mono Dotted for Powerline:pixelsize=11,xft:Ubuntu Mono derivative Powerline-8
!URxvt*boldFont:         xft:Droid Sans Mono Dotted for Powerline:bold:pixelsize=11,xft:Ubuntu Mono derivative Powerline-8:bold
!URxvt*font:             xft:Ubuntu Mono derivative Powerline:pixelsize=12
!URxvt*boldFont:         xft:Ubuntu Mono derivative Powerline:bold:pixelsize=12
!URxvt*italicFont:       xft:Ubuntu Mono derivative Powerline:italic:pixelsize=12

!Bitmap fonts
!URxvt*font:             xft:Ubuntu Mono Bitmap:size=9,xft:Terminess Powerline:size=9
!URxvt*boldFont:         xft:Ubuntu Mono Bitmap:bold:size=9,xft:Terminess Powerline:bold:size=9
!URxvt*font:             xft:Terminess Powerline:size=9
!URxvt*boldFont:         xft:Terminess Powerline:bold:size=9
!URxvt*font:             xft:Ttyp0-9
!URxvt*boldFont:         xft:Ttyp0-9:bold
!URxvt*italicFont:       xft:Ttyp0-9:italic
!URxvt*font:             xft:Dina Powerline:size=9,xft:Terminess Powerline:size=9
!URxvt*boldFont:         xft:Dina Powerline:bold:size=9,xft:Terminess Powerline:size=9:bold
!URxvt*italicFont:       xft:Dina Powerline:italic:size=9,xft:Terminess Powerline:size=9:italic

